* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Anybody", cursive;
  background-color: #cae9ff;
}

/* background-color: #0D1821; */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.navbar {
  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: #c77dff;
}

.portfolio {
  margin-left: 20px;
  font-size: 30px;
  font-family: "Melodrama", serif;
  color: #020202;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Anybody", cursive;
  list-style: none;
}

.navigators a {
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: #020202;
}

.navigators a:hover {
  color: orangered;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

#myphoto {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}

.desc2 {
  font-size: 50px;
  font-family: "Melodrama", serif;
  color: #000000;
}

/* About section css */

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.heading {
  font-size: 30px;
}

.about-desc {
  font-size: 20px;
  margin-left: 180px;
  margin-right: 180px;
  text-align: center;
  line-height: 1.5;
}

/* Tech Stack section css */

.techStack {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.techStack-cnt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 80px;
  margin-left: 180px;
  margin-right: 180px;
}

.techStack-data {
  height: 80px;
  width: 80px;
}

/* Contact Me section css */

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.socials-icons {
  height: 36px;
  width: 36px;
}

.socials a {
  color: #231f20;
}

#email,#linkedin,#github{
  transition: all 0.2s linear;
}

#email:hover {
  color: #c71610;
}

#linkedin:hover {
  color: #0077b5;
}

#github:hover {
  color: #6e5494;
}

.partition {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.partition-line {
  height: 1.5px;
  width: 56px;
  background: black;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

input {
  height: 36px;
  width: 320px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 24px;
  font-family: "Anybody", cursive;
}

textarea {
  height: 200px;
  width: 320px;
  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 24px;
  font-family: "Anybody", cursive;
  resize: none;
}

#submit {
  background-color: #c77dff;
  transition: all 0.2s linear;
  cursor: pointer;
}

#submit:hover {
  background-color: #9d4edd;
}
